<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="http://mailto:activadospanama.org">
            Contáctanos
          </a>
        </li>
        <li>
          <a href="http://activadospanama.com/?page_id=29">
            Noticias
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy; <a href="https://www.kblack.design">Kblack Design</a>
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>
    </div>
  </div>
</footer>